@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  --background: #ffffff;
  --dark: #1a2238;
  --mid: #9DAAF2;
  --light: #FF6A3D;
  --extraLight: #F4DB7D;
  --grey: #eeeeee;
  --font: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
h1, h2, h3, h4 {
  color: var(--light)
}
p, small {
  color: var(--extraLight)
}
#logo{
  height: 40vh;
}
.enter {
  color: var(--mid)
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  border: none;
  width: 200px;
  border-radius: 4px;
  margin: 30px;
  height: 30px;
}
button {
  border: none;
  border-radius: 4px;
  background-color: var(--light);
  width: 30vw;
  height: 30px;
  margin: 20px;
}
.search {
  text-decoration: none;
  color: var(--extraLight);
  font-size: 20px;

}
.button {
  background-color: var(--light);
  font-size: 20px;
  color: #F4DB7D;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 40px;
}
details > summary {
  list-style: none;
  }
  details > summary::-webkit-details-marker {
  display: none;
}
li{
  list-style: none;
}

.definition {
  border: solid 1px var(--extraLight);
  width: 70vw;
  margin: 20px;
  border-radius: 4px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1px var(--dark);
}
.synonyms{
  display: flex;
  flex-direction: column;
}
.extraInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  background-color: var(--mid);
  border: double 1px var(--light);
  border-radius: 4px;
}
.container {
  margin: 20px;
}
summary {
  color: var(--mid);
  width: 70vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#word {
  font-size: 60px;
  width: 70vw;
  border: solid 2px var(--extraLight);
  background-color: var(--background);
  border-radius: 4px;
  padding: 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.instructions {
 
  color: var(--extraLight);
  display: block;
  margin-left: auto;
  margin-right: auto;
}